body {
	font-weight: 300;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px 0px 0px 0px;
}

h3{
	line-height: 0.8;
	font-weight: 500;
	color : #ffca39;
	font-weight: 200;
	font-size: 25pt;
	letter-spacing: 4px;	
}

h1{
	line-height: 0.1;
	color : #d9e8d3;
	font-weight: 200;	
	font-size: 40pt;
	text-shadow: 3px 3px 15px #095E6B;
	letter-spacing: 3px;	

}

.el-boton{
	background-color: #fefefe;
	width: 3%;
	margin: 285px;
	height: 5px;
	padding: 5px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 80%;

}


.seleccion{
	width: 30%;
	margin: 0 auto;
	padding: 30px;
	background-color: #8CDCD2;

}

.cabezera{
	width: 100%;
	padding: 0.8%;
	background-color: #0f7e8f;
}

li{
	padding-right: 30px;
}

textarea{
	width: 360px;
	height: 50px;
	background-color: #E8E8E8;
	border: 1px solid #9C9C9C;
}

